#header-bar, #header-bar-mobile {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0.5em 2em 0.5em;
    width: 100%;
    align-items: center;
    background-color: rgba(1, 1, 35, 0.4);
    z-index: 99;
}

#header-bar-mobile {
    background-color: var(--color-primary);
}

.menu-closed {
    background-color: red !important;
}

#header-bar--left,
#nav {
    display: flex;
    align-items: center;
}

#header-bar img {
    max-width: 50px;
}

#header-bar-mobile img {
    max-width: 50px;
}

#header-bar #nav a {
    padding: 0 1em;
    list-style: none;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-light);
}

#header-bar #nav a:hover {
    color: var(--color-secondary);
}